*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  font-family: clan_proregular, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

h3 {
  font-weight: 400;
}

section {
  margin-bottom: 2rem;
}

.proyectos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.proyectos .proyecto {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.proyectos .proyecto p {
  margin: 0;
}
.proyectos .proyecto .proyecto-nombre {
  font-weight: 600;
  margin-bottom: 0;
}
.proyectos .proyecto .image-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  aspect-ratio: 4/3;
  border: 1px solid lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proyectos .proyecto .image-wrapper img {
  max-width: 125%;
  height: auto;
  object-fit: contain;
}

.clientes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 30px;
}
.clientes .cliente {
  background-color: white;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.clientes .cliente img {
  max-width: 100%;
}

.areas-de-experiencia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "area-cap area-cap area-edge area-edge" "area-leed area-leed area-nfpa area-nfpa";
  align-items: center;
  gap: 30px;
}
.areas-de-experiencia img {
  max-width: 100%;
}
.areas-de-experiencia .areas-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.areas-de-experiencia .area-cap {
  grid-area: area-cap;
}
.areas-de-experiencia .area-cap .cap {
  text-align: center;
}
.areas-de-experiencia .area-edge {
  grid-area: area-edge;
}
.areas-de-experiencia .area-leed {
  grid-area: area-leed;
}
.areas-de-experiencia .area-nfpa {
  grid-area: area-nfpa;
}

.hightlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.hightlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  padding: 2rem;
  align-items: center;
  text-align: center;
}
.hightlight .qty {
  display: block;
  font-size: 3em;
  font-weight: bold;
}
.hightlight.hightlight-left {
  text-align: left;
  padding: 2rem 1rem;
}
.hightlight.hightlight-left ol {
  padding-inline-start: 1rem;
}

.hidden {
  position: absolute;
  left: -9999px;
}

@media (min-width: 992px) {
  .proyectos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .proyectos .proyecto {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .proyectos .proyecto .proyecto-descripcion {
    font-size: 0.8em;
  }
  .hightlights {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .areas-de-experiencia {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "area-cap area-edge area-leed area-nfpa";
    align-items: center;
    text-align: center;
  }
  .clientes {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .areas-de-experiencia img {
    max-height: 100px;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
